* {
  font-family: "Fira Sans";
  font-size: 14px;
}

#image {
  padding: 5px;
  padding-left: 8px;
}

#window {
  padding: 0 6px;
  color: #d8d8d8;
}
window#waybar {
  background-color: #0F0F0F;
  transition-property: background-color;
  transition-duration: 0.5s;
}

#workspaces button {
  padding: 0 0px;
  color: #888888;
  background: transparent;
}
#workspaces button.focused {
  color: #ffffff;
  font-weight: bold;
}
#workspaces button.urgent {
  color: #ffffff;
}

#custom-sep,
#network,
#battery,
#pulseaudio,
#clock,
#tray {
  padding: 0 6px;
  color: #d8d8d8;
}

#custom-sep {
  color: #444b6a;
}

#network {
  color: #d8d8d8;
}
#network.disconnected {
  color: #fff000;
}
#network.disabled {
  color: #ff0000;
}

#battery {
  color: #d8d8d8;
}

#pulseaudio {
  color: #d8d8d8;
}
#pulseaudio.muted {
  color: #fff000;
}

#custom-expand-icon {
  padding: 0 6px;
  padding-right: 8px;
  color: #d8d8d8;
}
#tray {
  padding-right: 12px;
}
