* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: Fira Sans;
  font-size: 14px;
}

window#waybar {
  background-color: #000000;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  min-width: 0;
  border: 1px solid #333233;
  padding: 0px 5px;
  margin: 0px 0px;
  border-radius: 0px;
  background-color: #222222;
  color: #888888;
}

#workspaces button.focused {
  color: #ffffff;
  background-color: #285477;
  border: 1px solid #4c7898;
}

#workspaces button.urgent {
  color: #ffffff;
  background-color: #900000;
  border: 1px solid #2f343a;
}

#mode {
  color: #ffffff;
  background-color: #900000;
  padding: 0px 5px;
}

#network {
  margin-right: 12px;
  margin-left: 10px;
}

#pulseaudio {
  margin-left: 15px;
}

#pulseaudio.muted {
  color: #fff000
}

#battery {
  margin-left: 10px;
}

#clock {
  margin-left: 15px;
  margin-right: 15px;
}

#custom-expand-icon {
  margin-right: 12px;
}

#tray {
  margin-right: 8px;
}

tooltip {
  background-color: #285477;
  border: 1px solid white;
}

tooltip label {
  padding: 5px;
}
